.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #FFA500, #FF5733);
}

.loginBox {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

.loginTitle {
    color: #1976D2;
    margin-bottom: 20px;
}

.formTextField {
    margin-bottom: 15px;
}

.formHelperText {
    color: #f44336;
    margin-top: 5px;
}

.submitButton {
    background-color: #1976D2;
    color: white;
    margin-top: 15px;
    &:hover {
        background-color: #1565C0;
    }
}
